<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Your order has been confirmed.</h1>
    <h2>Order summary:</h2>
    <p>something
  </body>
</html>