<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Dear Jungle User,</h1>
    <p><h2>Your order has been confirmed. Congrats!</h2>
    <p>We hope you enjoyed your lil taste of the Jungle. Thanks for shopping with us!
      <p>Love,
        <p><b>The Jungle Crew ❤
  </body>
</html>